.bg-blanc{
    background-color: white;
}
.nav-link{
    color: rgb(0, 0, 0)!important;
    opacity: 1!important;
}
.nav-link:hover{
    color: rgb(255, 255, 255)!important;
    opacity: 1!important;
    background-color:rgb(0, 109, 172)!important;
}
.navbar-toggler{
    margin: 0 auto;
}
.navbar-collapse{
    text-align: center;
}
.active{
    color: rgb(255, 255, 255)!important;
    opacity: 1!important;
    background-color:rgb(0, 109, 172)!important;
}
.bgJumbotron{
    background-color: white;
    opacity: 0.5;
}
.opacityJumbotron{
    opacity: 1!important;
    z-index: 999;
}
.row .jumbotron{
    background-image: url(accueil/bgJumbotron3.jpg);
    background-size: 100% 100%; 
    height: 56%;
    width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .row .jumbotron{
        height: 70%;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .row .jumbotron{
        height: 72%;
        width: 60%;
    }
}
@media screen and (max-width: 576px){
    .row .jumbotron{
        height: 73%;
        width: 65%;
    }
}