body, html
{
	margin:0;
	padding:0;
}
*
{
	box-sizing:border-box;
}
.modal_
{
	position: fixed;
	display:flex;
	align-items:center;
	justify-content:center;
	top:0;
	left:0;
	width:100%;
	height:100%;
	animation: fadeIn 4s both;
}
.exit
{
	font-size: 1vw;
	font-weight: bold;
	background-color: black;
	color: white;
	float:left;
	z-index:2;
}
.modal-wrapper
{
	background-color:white;
	max-height: calc(100vh - 20px);
	animation: slideLeft 4s both;
	border-radius: 0.7vw;
	box-shadow: red 0 -0.1vw 1.5vw -0.2vw;
	width:100%;
}
.modal_[aria-hidden="true"]
{
	animation: fadeOut 4s both;
}
.modal_[aria-hidden="true"] .modal-wrapper
{
	animation: slideLeft2 4s both;
}

@keyframes fadeOut
{
	from {opacity : 1;}
	to {opacity : 0;}
}
@keyframes fadeIn
{
	from {opacity : 0;}
	to {opacity : 1;}
}
@keyframes slideLeft
{
	from {transform:translateX(100%);}
	to {transform:translateX(0);}
}
@keyframes slideLeft2
{
	from {transform:translateX(0);}
	to {transform:translateX(-100%);}
}
@media screen and (max-width:1366px)
{
	.modal-wrapper
	{
		overflow:auto;
	}
}