.nav-link{
    color: rgb(255, 255, 255)!important;
    opacity: 1!important;
}
.nav-link:hover{
    color: rgb(255, 255, 255)!important;
    opacity: 1!important;
    background-color:rgb(0, 0, 0)!important;
}
.navbar-toggler{
    margin: 0 auto;
}
.navbar-collapse{
    text-align: center;
}

.active{
    color: rgb(160, 160, 160)!important;
    opacity: 1!important;
    background-color:rgb(0, 0, 0)!important;
}
.codeBarre{
    width: 8rem;
}
.hrJumbotron{
    background-color: white!important;
    width: 20em;
    margin-right: 15em;
}
.textTypo{
    font-size: 10vw;
}
/* MODAL */
.typo{
    float: left;
    width: 20vw;
}
/* SCROLL TOP */
html {
    scroll-behavior: smooth;
    transition-duration: 2s;
  }
.scroll{
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.scroll:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .position-absolute{
      z-index: 1000;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .position-absolute{
      z-index: 1000;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .position-absolute{
      z-index: 1000;
    }
}
@media screen and (max-width: 576px){
    .position-absolute{
      z-index: 1000;
    }
}
